@charset "UTF-8";
/* CSS Document */

#slider{
	margin:0 auto 60px auto;
	border:0;
	z-index:9999;
	color:#fff;
	background:#fff;
	padding:0;
}

/* ESTILOS DEL SLIDESHOW */
ul.bjqs{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
}

li.bjqs-slide{
	position:absolute;
	display:none;
}

ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
}

ul.bjqs-controls.v-centered li a{
	position:absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
	right:0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:0;
}

ol.bjqs-markers{
	list-style:none;
	padding:10px;
	margin-top:0;
	width:100%;
}

ol.bjqs-markers.h-centered{
	text-align:center;
}

ol.bjqs-markers li{
	display:inline;
}

ol.bjqs-markers li a{
	display:inline-block;
}

p.bjqs-caption{
	display:block;
	width:96%;
	margin:0;
	padding:2%;
	position:absolute;
	bottom:0;
	font-size:1.5em;
	color:#fff;
	text-shadow:1px 1px 2px #000;
	text-align:center;

}

.bjqs-caption{
	background:none;
}


/* BOTONERA UBICADA AL PIE DEL SLIDESHOW */

ol.bjqs-markers{
	margin-top:0px;
}

ol.bjqs-markers li a{
	width:30px;
	height:30px;
	box-sizing:border-box;
	background:#fff;
	color:black;
	margin:5px;
	padding-top:8px;
	text-decoration:none;
	transition:background .5s ease;
	-webkit-transition:background .5s ease;
	-moz-transition:background .5s ease;
	-o-transition:background .5s ease;
	border-radius:100%;
}

ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a{
	background: #D9D9D9;
	color:#424242;
}

/* CONTROLES ATRÁS Y DELANTE */

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:none;
	color:#000;
	text-decoration:none;
	opacity:0.6;
}

ul.bjqs-controls.v-centered li a:hover{
	opacity:0.8;
}















